<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Progress bar</h4>
                <hr>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                        [attr.ariaValuenow]="p1" aria-valuemin="0" aria-valuemax="100" [style.width]="p1 + '%'"></div>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success my-1"
                        role="progressbar" [attr.ariaValuenow]="p2" aria-valuemin="0" aria-valuemax="100"
                        [style.width]="p2 + '%'"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-incrementor (value)="p1 = $event" legend="L1" [percentage]=60></app-incrementor>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-incrementor (value)="p2 = $event" legend="L2" [percentage]=40></app-incrementor>
            </div>
        </div>
    </div>
</div>